//
//  config.env.dev.xcconfig
//  nativeTemplate
//
//  Created by Conner Charlebois on 10/22/20.
//  Copyright © 2020 Facebook. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-nativeTemplate/Pods-nativeTemplate.release-dev.xcconfig"
//#include? "tmp.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER = com.vfpcs.mobile.dev
BUNDLE_DISPLAY_NAME = VF-PCS.dev
BUNDLE_IDENTIFIER = com.vfpcs.mobile.dev
RUNTIME_URL = https:\/\/pcs.dev-veriforce.com
CODEPUSH_KEY = ADB8f-NNEquqJk1OX0IjEK0iXIn8S9kyAYSaq
URL_SCHEME=vfpcsdev
VERSION_NUMBER=0.0.6.dev

