//
//  config.env.beta.xcconfig
//  nativeTemplate
//
//  Created by Conner Charlebois on 10/22/20.
//  Copyright © 2020 Facebook. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-nativeTemplate/Pods-nativeTemplate.release-beta.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER = com.vfpcs.mobile.beta
BUNDLE_DISPLAY_NAME = VF-PCS.beta
BUNDLE_IDENTIFIER = com.vfpcs.mobile.beta
RUNTIME_URL = https:\/\/pcs.beta-veriforce.com
CODEPUSH_KEY = iIKQ70kPV9ZuVtiOt4vS0Slwl3CJISeHtw62c
URL_SCHEME=vfpcsbeta
VERSION_NUMBER=0.0.3.beta
